<header id="header">
  <div class="inner">
    <nav class="menu">
      <ul>
        <li><a href="#">@mopiω</a></li>
    </nav>
    <h1 class="logo"><a href="/">DENO<span>DEMO</span></a></h1>
  </div>
</header>